*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #F4F4F5;
  height: 2000px;
}

nav.navbar {
  width: 100%;
  padding: 13px 30px;
  background-color: #2D3E50;
  color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 33px;
}

.container {
  max-width: 800px;
  background: #FFFFFF;
  color: black;
  margin: 65px auto;
  padding: 30px;
  box-shadow: 1px 1px 1px rgb(199, 199, 199);
}

.footer {
  width: 100%;
  padding: 13px 30px;
  background-color: #2D3E50;
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 25px;
}

.footer>ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer>ul>li {
  padding-inline: 20px;
}
